* { margin: 0px; box-sizing: border-box; }
body{
    position: relative;
    z-index: 1;
    font-family: sans-serif;
}
canvas {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}
main {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
    width: 100%;

    font-size: 32px;
    color: #fff;
    
    padding: 5vw;

    display: flex;
    flex-direction: column;
}
main section {
    width: 50%;
    padding: 100px 0px;
    height: 100vh;
}

main section p {
    padding: 5%;
    background: rgba(0,0,0,0.6);
}
main section:nth-child(2) { margin-left: 50%; }
main section:nth-child(4) { margin-left: 50%; }